

<ion-view title="Graficos de Administrador" id="page5" style="background-color:#FFFFFF;">
<ion-nav-buttons side="left" class="has-header">
<button class="button button-icon icon ion-pie-graph"></button>
</ion-nav-buttons>
<ion-content padding="true" style="background: url(img/ToxU5zmRSaC46MuUviag_andygeeart.jpeg) no-repeat center;background-size:cover;  width:100%" class="has-header">
	<h2>Denuncias Realizadas:</h2>
	<canvas id="doughnut" class="chart chart-doughnut"
	  chart-data="data" chart-labels="labels">
	</canvas> 

</ion-content>
</ion-view>