<ion-view title="Ingreso" id="page4">
  <ion-content padding="true" style="background: url(img/s7uuCgTDCYVx1syhhG1A_andygeeart.jpeg) no-repeat center;background-size:cover;" class="has-header">
    <form id="ingreso-form1" class="list">
      <ion-list id="ingreso-list2">
        <label class="item item-input item-stacked-label" id="ingreso-input1">
          <span class="input-label">Nombre de Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="ingreso-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="ingreso-button2" style="color:#FFFFFF;" class="button button-positive  button-block">Ingresar</button>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="ingreso-button3" style="color:#FFFFFF;" class="button button-light  button-block button-outline">Or create an account</a>

      <button id="ingreso-button2" style="color:#FFFFFF;" class="button button-assertive  button-block">Ingresar con Google</button>
    </form>
  </ion-content>
</ion-view>