<ion-view title="Mapa de Denuncias" id="page2" style="background-color:#2766A4;">
<ion-nav-buttons side="left" class="has-header">
<button class="button button-icon icon ion-map"></button>
</ion-nav-buttons>
<ion-content padding="true" style="background: url(img/TzAU9V7YRW2wCVQP1Ibx_andygeeart.jpeg) no-repeat center;background-size:cover;" class="has-header">

<ng-map   center="[{{map.latitud}}, {{map.longitud}}]" zoom="10">
<custom-marker ng-repeat="p in marcas" position="{{p.lati}},{{p.longi}}">
<div>
	hola
	-a
</div>
</custom-marker>

</ng-map>



</ion-content>
</ion-view>