<ion-view title="Sobre Nosotros" id="page3" style="background-color:#FFFFFF;">
  	<ion-nav-buttons side="left" class="has-header">
    	<button class="button button-icon icon ion-person-stalker"></button>
  	</ion-nav-buttons>
  	<ion-content padding="true" style="background: url(img/ToxU5zmRSaC46MuUviag_andygeeart.jpeg) no-repeat center;background-size:cover;" class="has-header">
	  	<div class="spacer" style="width: 300px; height: 6px;"></div>
        <div>
            <img src="img/PlaceHolder.jpg" width="300px" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="author-heading3" style="color:#000000;text-align:center;">Marcos Facundo Murcia</h3>
        <h3 id="author-heading3" style="color:#000000;text-align:center;">Diana Man</h3>
        <h3 id="author-heading3" style="color:#000000;text-align:center;">Juan Giusti</h3>
        <h3 id="author-heading3" style="color:#000000;text-align:center;">Federico Santamaria</h3>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <a ng-click="OpenGitHub('marcosmurcia92')" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Github de Marcos</a>
        <a ng-click="OpenGitHub('Dianaman')" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Github de Diana</a>
        <a ng-click="OpenGitHub('jmgiusti91')" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Github de Juan</a>
        <a ng-click="OpenGitHub('fedeakd')" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Github de Federico</a>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div id="author-markdown3" style="color:#000000;text-align:center;">
            <p>
                <strong>UTN FRA 2016</strong>
            </p>
        </div>
	</ion-content>
</ion-view>